@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
  --color-bb-50: #f2f8fd;
  --color-bb-100: #e4f0fa;
  --color-bb-200: #c4e1f3;
  --color-bb-300: #90c9e9;
  --color-bb-400: #54addc;
  --color-bb-500: #2e93c9;
  --color-bb-600: #1c6b9b;
  --color-bb-700: #1a5e8a;
  --color-bb-800: #195073;
  --color-bb-900: #1a4460;
  --color-bb-950: #112b40;
}
